node_modules/
dist/
build/
coverage/
.turbo/
*.tsbuildinfo
.next/
.pnpm-store/
storybook-static/

.env
.env.local
.env.*.local

*.log
npm-debug.log*
pnpm-debug.log*

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
